#student-header {
  padding: 0 30px 0 110px;
  border-bottom: 2px solid #d5d6db;
}
.student-header-left {
  float: left;
  width: 55%;
}
.student-header-btn {
  padding: 10px 0;
}
.student-header-btn li {
  display: inline-block;
  margin-right: 5px;
}
.student-header-btn li:last-child {
  margin: 0;
}
.student-header-btn li a {
  display: inline-block;
  text-decoration: none;
  color: #02a28e;
  font-size: 14px;
  font-family: "NexaBold";
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  padding: 10px 35px 8px;
}
.student-header-btn li.active a {
  text-align: center;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #02a28e;
  border: 1px solid #02a28e;
}
.student-header-right {
  float: right;
  width: 45%;
  text-align: right;
}
.student-header-others li {
  display: inline-block;
  vertical-align: top;
}
.student-header-others .header-dropdown li {
  display: block;
  font-family: "Nexa-Regular";
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 15px 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s all;
}

.student-header-others .header-dropdown li:hover {
  background-color: #edf0f8;
  background-color: rgb(0 165 142 / 60%);
  color: #fff;
  transition: 0.4s all;
}
.student-header-others .header-dropdown li.notification-title:hover {
  background-color: transparent;
  cursor: default;
}

.student-header-others .header-dropdown li.notification-title {
  cursor: default;
}

.student-header-others .header-dropdown li h6 {
  display: block;
  font-family: "NexaBold";
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.student-header-others .search-bar {
  position: relative;
  margin-right: 25px;
}
.student-header-others .search-bar input {
  background: #f6f7fb;
  padding: 22px 14px 16px 55px;
  border: none;
  width: 220px;
  color: #afafb2;
  font-size: 14px;
  box-shadow: none;
  line-height: 1;
  box-sizing: unset;
}
.student-header-others .search-bar button {
  background: none;
  border: none;
  background: url("../../../assets/images/search-icon.png") no-repeat;
  background-size: 100% auto;
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 15px;
}
.student-header-others .message {
  width: 25px;
  padding-top: 20px;
  margin-right: 20px;
}
.student-header-others .message a {
  display: block;
  position: relative;
}
.student-header-others .message img {
  display: block;
  width: 100%;
}
.student-header-others .message .alert {
  display: block;
  background: url("../../../assets/images/alert-icon.png") no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -5px;
  top: -5px;
}
.alerts {
  display: block;
  background: url("../../../assets/images/alert-icon.png") no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -5px;
  top: 13px;
}
.student-header-others .message a:hover {
  opacity: 0.6;
}
.student-header-others .notification {
  margin-right: 20px;
  width: 18px;
  padding-top: 18px;
  position: relative;
}
.student-header-others .notification a {
  display: block;
  border: none;
}
.student-header-others .notification img {
  display: block;
  width: 100%;
  height: auto;
}
.student-header-others .notification a:hover {
  opacity: 0.6;
}

.user-section {
  position: relative;
  padding: 8px 0 0 0;
}
.user-section span {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  margin: 0 15px 0 0;
}
.user-section span img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-dropdown {
  padding: 0;
  margin: 0 14px;
  width: 150px;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 999;
  display: none;
}
.user-dropdown li {
  border: none;
  border-bottom: 1px solid #dddddd;
  display: block;
}
.user-dropdown li:last-child {
  border-bottom: none;
}
.user-dropdown a {
  padding: 10px 35px 8px;
  text-align: center;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #02a28e;
  border: 1px solid #02a28e;
  font-family: "NexaBold";
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}
.user-dropdown a:hover {
  text-decoration: none;
  color: #02a28e;
  background: none;
}
.user-dropdown.notification-dropdown {
  left: auto;
  margin: 0;
  right: 0;
  width: 275px;
  text-align: left;
  background: #fff;
  border: 1px solid #dddddd;
}
.user-dropdown.notification-dropdown h4 {
  font-size: 12px;
  line-height: 1;
  color: #02a28e;
  padding: 10px;
  text-align: left;
}
.notification-wrap {
  background: #f1f1f1;
  padding: 6px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 8px 10px;
}
.notification-wrap a {
  padding: 0 !important;
  text-decoration: none !important;
  background: none !important;
}
.notification-wrap .img-wrap {
  width: 43px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 43px;
  overflow: hidden;
  border: 1px solid #cccccc;
  float: left;
}
.notification-wrap .img-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.notification-detail {
  width: 190px;
  float: right;
}
.notification-detail h5 {
  color: #777777;
  font-size: 14px;
  margin: 8px 0 5px;
  line-height: 1;
  text-align: left;
}
.notification-detail p {
  color: #444444;
  font-size: 11px;
  text-align: left;
  line-height: 1;
  margin: 0;
  text-transform: none !important;
}
.notification-detail a:hover {
  background: none !important;
}
.user-dropdown.notification-dropdown .all-msg {
  padding: 10px 35px 8px;
  text-align: center;
  color: #fff;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  background: #02a28e;
  border: 1px solid #02a28e;
  font-family: "NexaBold";
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}
.user-dropdown.notification-dropdown .all-msg:hover {
  text-decoration: none;
  color: #02a28e;
  background: none;
}
.dropdown dd {
  position: relative;
}

.dropdown dt a {
  background: url("../../../assets/images/down-icon.png") no-repeat right center;
  display: block;
  padding-right: 20px;
  color: #17181a;
  font-size: 18px;
  line-height: 1;
}

.dropdown dd ul {
  background: #fff;
  border: 1px solid #336699;
  color: #c5c0b0;
  display: none;
  left: 0px;
  padding: 10px;
  position: absolute;
  top: 5px;
  width: auto;
  list-style: none;
  min-width: 150px;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
  color: #17181a;
  font-size: 14px;
  line-height: 1;
}
.dropdown dd ul li {
  display: block;
  margin: 0;
}
.dropdown dd ul li img {
  display: inline-block;
  width: 14px;
  margin-right: 3px;
}

.dropdown dd ul li a:hover {
  background-color: #d0c9af;
}

.collapse-header {
  padding-left: 280px !important;
  transition: transform 0.3s ease-out;
}

.header-dropdown {
  max-width: 260px;
  min-width: 260px;
  /* margin-right: 150px; */
  min-height: 50px;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  top: 60px;
  background: #fff;
  right: -25%;
  padding: 0;
  text-align: left;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  font-size: 16px;
  transform: translate(10%, 0px);
  z-index: 999;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.header-dropdown p {
  font-size: 14px;
  margin-bottom: 0;
  color: #2b2b2b;
  white-space: nowrap;
  max-width: 234px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-dropdown-message {
  max-width: 260px;
  min-width: 230px;
  /* margin-right: 185px; */
  min-height: 50px;
  position: absolute;
  top: 60px;
  background: #fff;
  right: 18%;
  padding: 10px 15px;
  text-align: left;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  font-size: 16px;
  transform: translate(50%, 0px);
  z-index: 999;
}
.notification {
  border-radius: 10px;
}

.header-dropdown-message li p {
  margin: auto;
  font-size: 15px;
}
