.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, .ant-table-thead>tr:not(.ant-table-expanded-row)>td, .ant-table-tbody>tr:not(.ant-table-expanded-row)>td {
    text-align: center;
    cursor: pointer;
}

.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, .ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td, .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    cursor: pointer;
    background: unset !important;
}

.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td:hover, .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td:hover, .ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td, .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td:hover {
    background: #f0f0f0 !important;
}


.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, .ant-table-thead>tr:not(.ant-table-expanded-row)>td, .ant-table-tbody>tr:not(.ant-table-expanded-row)>td span:empty {
    border:0 !important;
    background: none;
}
button.ant-btn.ant-btn-primary {
    background: linear-gradient( -94deg, rgba(0,165,142,0.99608) 0%, rgb(49,106,150) 100%);
}
button.ant-btn{
    border:1px solid;
    border-color:  rgba(0,165,142,0.99608);
    transition: 0.3s all;
}
button.ant-btn:hover{
    border-color:  rgba(0,165,142,0.99608);
    color: #000;
    transition: 0.3s all;
}
td.ant-table-cell {
    padding: 5px !important;
}
thead.ant-table-thead tr th.ant-table-cell {
    text-align: center;
}
.float-right {
    float: right;
}

.availability-calendar .ant-table-tbody > tr > td {
    border-bottom: 1px solid #f0f0f0;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    font-family: "Nexa-Regular";
    font-size: 11px;
    white-space: pre;
    color: #bbb;
    height: 50px;
}

.availability-calendar .ant-table-tbody > tr > td:first-child:hover {
background-color: transparent !important;
cursor:default;
}

.availability-calendar .ant-table-thead {
    background: linear-gradient( -180deg, rgba(0,165,142,0.99608) 0%, rgb(49,106,150) 180%);
}

.availability-calendar .ant-table-thead > tr > th {
    border: none !important;
    padding: 10px 16px;
    background: transparent;
    color: #fff;
}

.availability-calendar {
    padding: 0 30px ;
}


.calendar-page{
    padding-bottom: 70px;
}

.calendar-page .btn-row {
    margin-top: 20px;
    display: inherit;
    float: inherit;
}

.calendar-page .availability-calendar .ant-table-thead>tr>th span > span {
    font-size: 18px;
    font-weight: 500;
}

.calendar-page .availability-calendar .anticon svg {
    fill: #909090;
}

.calendar-dropdown-text {
    font-family: 'Nexa-Regular';
    font-size: 13px;
    color: #909090;
}

.DateT {
    padding: 0 30px;
}


.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-thead>tr:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr:not(.ant-table-expanded-row)>td span {
    border-style: solid;
    padding: 5px 5px 2px 8px;
    display: flex;
    font-size: 12px !important;
    align-items: center;
    font-weight: 600;
    width: 100%;
    margin: 0px;
    /* top: 0;
    right: 0;
    left: 0;
    position: absolute; */
    letter-spacing: 0.75px;
    border-color: transparent;
    border-width: 0px 0px 0px 4px;
    height: 100%;
}



.ant-table-tbody>tr:not(.ant-table-expanded-row)>td span.anticon-check {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0;
}

.ant-table-tbody>tr:not(.ant-table-expanded-row)>td span.anticon-check svg {
    width: 20px;
    height: 20px;
    fill: #02a28e;
    stroke-width: 17px;
}

.tag-color-available {
    background: #afeab3 !important;
    border-color: #037a6b !important;
    /* background: #02a28e !important;
    border-color:#037a6b !important; */
    color: #037a6b;

}

.tag-color-approved {
    background: #ffe1df !important;
    border-color: #F44336 !important;
    color: #F44336;
}

.tag-color-pending {
    /* background: #ffd1b8 !important;
    border-color: #fa541c !important;
    color: #fa541c !important; */
    background: #ffefc0 !important;
    border-color: #FFC107 !important;
    color: #FFC107 !important;
}

.tag-color-leave {
    background: #eed6ff !important;
    border-color: #982ee7 !important;
    color: #982ee7 !important;
}

::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-thumb {
    background-color: #90a4ae;
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid #cfd8dc;
    border: 3px solid var(--scrollbarBG);
}

::-webkit-scrollbar-track {
    background: #cfd8dc;
    background: var(--scrollbarBG);
}

.primary-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-family: "NexaBold";
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    padding: 10px 35px 8px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: #02a28e;
    border: 1px solid #02a28e;
}

.btn-row {
    padding: 0 30px;
    margin-top: 20px;
}

.primary-btn:hover {
    color: #fff !important;
    background:#037a6b;
    border: 1px solid #037a6b;
}



.ant-space-item .availability-calendar {
    padding:0 30px!important;
    margin-right: 0 !important;

}

.calendar-page .ant-spin-spinning {
    position: absolute;
    display: inline-block;
    opacity: 1;
    left: 0;
    z-index: 99;
    right: 0;
}

.calendar-page .ant-space.ant-space-horizontal.ant-space-align-center {
    position: relative;
}

.calendar-page .ant-space:first-child .ant-space-item{
    position: absolute !important;
    left: 0;
    right: 0;
    z-index: 99;
    margin-right:0 !important;
}

.ant-spin-dot-item {
    background-color: #009688 !important;
}

.calendar-page .ant-space-item{
    margin-right:0 !important;
}

.ant-popover-title {
    min-width: 177px;
    min-height: 35px;
    margin: 0;
    padding: 7px 10px 3px;
    color: #bbb;
    font-weight: 500;
    vertical-align: middle;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: "Nexa-Regular";
    display: flex;
    align-items: center;
}

.DateT h4 {
    margin-top: 7px;
}

.ant-popover-inner-content {
    padding: 10px 10px 10px 10px;
}

.ant-popover-inner-content p{
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    border-bottom: none;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.ant-popover-inner-content p span{
    color:  #F44336;
    margin-right: 5px;
}

.ant-popover-inner-content p:last-child{
    border-bottom: none !important;
    margin-bottom: 0;
}


.ant-popover-inner {
    border-top: 4px solid #F44336;
    min-width: 220px;
}