.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: #ffffff !important;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: #ffffff !important;
}
.example {
  text-align: center;

  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
